@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.feature {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 40px;

  @media (--desktop1200) {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    animation: fade 1s;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 71.5%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);

    @media (--desktop1200) {
      content: none;
    }
  }

  &.is-active {
    @media (--desktop1200) {
      display: flex;
    }
  }

  &_img {
    $height-desk: 580px;

    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;

    @media (--desktop1200) {
      width: 396px;
      height: $height-desk;
      margin-bottom: 0;
      margin-right: 125px;
      background-size: 396px;
      background-position-x: right;
      background-position-y: top;
    }

    &--payment {
      background-image: url("./images/features-1.png");

      @media (--desktop1200) {
        background-image: url("./images/features-1-desk.png");
      }
    }

    &--sec {
      height: 204px;
      background-size: 280px;
      background-image: url("./images/features-2.png");

      @media (--desktop1200) {
        height: $height-desk;
        background-image: url("./images/features-2-desk.png");
        background-size: 396px;
      }
    }

    &--crm {
      background-image: url("./images/features-3.png");

      @media (--desktop1200) {
        background-image: url("./images/features-3-desk.png");
      }
    }
  }

  &_describe {
    text-align: center;

    @media (--desktop1200) {
      width: 590px;
      text-align: left;
    }
  }

  &_title {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    @media (--desktop1200) {
      margin-bottom: 40px;
      font-size: 26px;
      line-height: 40px;
    }
  }

  &_text {
    font-size: 12px;
    line-height: 18px;

    @media (--desktop1200) {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
