@use '../../config' as c;

.hero {
  @include c.bg-img('../images/bg-hero.png', cover);

  position: relative;
  min-height: 100vh;
  height: 100%;
}

.hero__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5em var(--wrap-padding) 0;
}

.hero__logo {
  position: relative;
  width: c.vw(120);
  height: c.vw(50);
  margin-bottom: 7rem;
  background-image: var(--logo-sm);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hero__img {
  @include c.bg-img('../images/hero-img.png');

  width: c.vw(246);
  height: c.vw(218);
  margin-bottom: 4rem;
}

.hero__text {
  text-align: center;
}

.hero__title {
  @include c.font-size(18, 26);

  margin-bottom: c.em(20, 18);
  font-weight: 400;
}

.hero__award {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.5rem;
  text-align: center;

  span:first-child {
    @include c.font-size(16, 22);

    margin-bottom: c.em(12, 16);
    color: var(--orange);
    font-weight: 600;
  }

  span:last-child {
    @include c.font-size(14, 18);

    color: rgba($color: #fff, $alpha: 0.5);
    font-weight: 300;
  }
}

.hero__tagline {
  display: none;
}

@media (--desktop) {
  .hero {
    background-image: url('../images/bg-hero-lg.png');
  }

  .hero__wrap {
    justify-content: space-between;
    align-items: start;
    max-width: 156.4rem;
    padding-top: c.vh(60);
  }

  .hero__logo {
    align-self: center;
    width: 16rem;
    height: 6.6rem;
    margin-bottom: c.vh(234);
    margin-bottom: 0;
  }

  .hero__img {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: c.vw(608, 1920);
    height: c.vw(538, 1920);
    // width: 60.8rem;
    // height: 53.7rem;
    margin-bottom: 0;
  }

  .hero__text {
    position: relative;
    z-index: 5;
    min-width: 90rem;
    max-width: 105rem;
    max-width: c.vw(1005, 1920);
    text-align: left;
  }

  .hero__title {
    @include c.font-size(42, 66);

    margin-bottom: c.em(10, 42);
  }

  .hero__tagline {
    @include c.font-size(22, 28);

    margin-bottom: c.em(30, 22);
    display: inline-block;
    font-weight: 400;
  }

  .hero__award {
    align-items: start;
    margin-bottom: c.vh(208);
    margin-bottom: 0;

    span:first-child {
      @include c.font-size(18, 24);

      margin-bottom: 0;
      font-weight: 300;
    }

    span:last-child {
      @include c.font-size(16, 20);

      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
}

@media (--desktop-lg) {
  .hero__wrap {
    margin: 0 auto;
  }

  .hero__img {
    // position: absolute;
    // top: c.vh(202);
    // right: 5%;
    // width: c.vw(608, 1920);
    // height: c.vw(538, 1920);
    width: 60.8rem;
    height: 53.7rem;
  }
}
