.advantage {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  background-color: $mainBg;
  background-image: url("./images/bg-advantage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (--desktop1200) {
    @include flex-center;

    position: relative;
    flex-direction: column;
    height: 100vh;
    background-image: url("./images/bg-advantage-desktop.png");
  }

  &_wrap {
    @extend %wrap-wide;

    @media (--desktop1200) {
      width: 100%;
      height: 100%;
    }

    @media (--desktop1500) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &_top {
    margin-bottom: 20px;

    @media (--desktop1200) {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      margin-bottom: 102px;
    }
  }

  &_title {
    color: inherit;
    font-size: 20px;
    line-height: 24px;

    @media (--desktop1200) {
      font-size: 42px;
      line-height: 50px;
    }
  }

  &_slider-controls {
    display: flex;
    margin-left: 288px;
    transform: translateY(4px);
  }

  .owl-stage-outer {
    overflow: visible;
    margin-bottom: 0;
  }

  .owl-item {
    padding-top: 25px;
  }
}

.advantage-btn {
  @extend %trans-slow;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px + 10;
  height: 32px + 10;
  padding: 5px;
  opacity: 0.5;

  &--prev {
    margin-right: 20px;

    svg {
      transform: rotate(-180deg);
    }
  }

  &:hover {
    opacity: 1;

    svg {
      fill: $orange;
    }
  }

  svg {
    @extend %trans-slow;

    width: 52px;
    fill: #fff;
  }
}

.advantage-list {
  @extend %list-unstyled;

  @media (--desktop1200) {
    position: relative;
    display: flex;
    // align-items: center;
  }

  &::before {
    position: absolute;
    bottom: 24.8%;
    left: 23.9%;
    width: 550px;
    height: 607px;
    background: linear-gradient(110deg, rgba(20, 20, 20, 0) 28%, #1b1b1b 100%);
    // opacity: 0.2;
    opacity: 0.9;
    filter: blur(3px);

    @media (--desktop1200) {
      content: "";
    }

    @media (--desktop1400) {
      left: 26.6%;
    }

    @media (--desktop1500) {
      bottom: 25%;
    }
  }

  &_item {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
  }
}
