@use '../../config' as c;

.sample-item {
  // @extend %trans-slow;

  position: relative;
  width: 100%;
  min-width: 28rem;
  width: c.vw(280);
  min-height: 24.6rem;
  height: c.vw(246);
  background-color: rgba(20, 20, 20, 0.6);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transition-duration: 600ms;
  cursor: pointer;

  @media (--tablet) {
    height: auto;
  }

  @media (--desktop) {
    width: 295px;
    height: 450px;
    margin-bottom: 0;
    border-radius: 5px;
    filter: blur(0);
    will-change: filter;
  }

  @media (--desktop-md) {
    width: 330px;
    height: 500px;
  }

  @media (--desktop-height-md) {
    max-height: c.vh(500);
  }

  @media (--desktop-height-sm) {
    max-height: c.vh(500);
  }

  &::after {
    // @extend %trans-slow;

    position: absolute;
    bottom: -1.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.8rem;
    background: #de9b55;
    box-shadow: 0 2px 4px rgba(222, 155, 85, 0.4);
    border-radius: 7px;
    opacity: 0;
    transition-duration: 600ms;
    // width: 100%;

    @media (--desktop) {
      content: '';
    }
  }

  &:hover {
    &::after {
      width: 100%;
      opacity: 1;
    }

    .sample-item_icon-click {
      opacity: 1;
    }
  }

  &--1 {
    .sample-item_img {
      background-image: url('../images/sample-1.jpg');
    }
  }

  &--2 {
    .sample-item_img {
      background-image: url('../images/sample-2.jpg');
    }
  }

  &--3 {
    .sample-item_img {
      background-image: url('../images/sample-3.jpg');
    }
  }

  &--4 {
    .sample-item_img {
      background-image: url('../images/sample-4.jpg');
    }
  }

  &.is-blur {
    filter: blur(3px);
  }

  &_wrap {
    width: 100%;
    padding: 16px;

    @media (--desktop) {
      padding: 20px;
    }
  }

  &_img {
    width: 100%;
    min-height: 15rem;
    height: c.vw(150);
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3px;

    @media (--desktop) {
      position: relative;
      height: 320px;
      margin-bottom: 20px;
    }

    @media (--desktop-md) {
      height: 366px;
    }

    @media (--desktop-height-md) {
      height: c.vh(366);
    }

    @media (--desktop-height-sm) {
      max-height: c.vh(320);
    }
  }

  &_icon-click {
    // @extend %trans-slow;

    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);

    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition-duration: 450ms;

    @media (--desktop) {
      display: block;
      background-image: url('../images/icon-click.png');
    }
  }

  &_title,
  &_type {
    // TODO: шрифт
    // font-family: $roboto;
    color: #fff;
  }

  &_title {
    @include c.font-size(22,26);
    
    margin-bottom: 0.8rem;
    font-weight: 500;

    @media (--desktop) {
      margin-bottom: 10px;
      font-size: 2.6rem;
    }
  }

  &_type {
    @include c.font-size(15,20);

    font-weight: 300;
    opacity: 0.8;

    @media (--desktop) {
      font-size: 1.8rem;
    }
  }
}
