// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: bold;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SuisseIntl';
//   src: url('../fonts/SuisseIntl.woff2') format('woff2');
//   font-weight: normal;
//   font-style: italic;
// }

// 300
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Thin-WebM.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-ThinItalic-WebM.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

// 400
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Regular-WebM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-RegularItalic-WebM.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

// 500
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Medium-WebM.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-MediumItalic-WebM.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
// 600
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-SemiBold-WebM.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-SemiBoldItalic-WebM.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
// 700
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-Bold-WebM.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('../fonts/SuisseIntl-BoldItalic-WebM.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
