:root {
  font-size: 62.5%; /* 10px */

  @media (--desktop-height-sm) {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
  background-color: var(--main-bg-color);
  font-family: var(--main-font);
  font-size: 100%;
  color: #fff;
}

.section {
  position: relative;
}

// ошибки формы
input.has-error,
input.custom-checkbox_input.has-error + .custom-checkbox_checkmark {
  border: 1px solid #f00;
}

/* Специальные классы */

// .only-desktop {
//   @media (--tabletMin) {
//     display: none !important;
//   }
// }

// .only-mobile {
//   @media (--notTablet) {
//     display: none !important;
//   }
// }
