@use '../../config' as c;

.modal {
  // @extend %trans-slow;

  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  z-index: 100;
  transform: translateX(100%);
  transition-duration: 600ms;

  &.is-active {
    transform: translateX(0);
  }

  &--result {
    @media (--only-mobile) {
      align-items: flex-start;
    }
  }

  /*
  &--form {
    @media (--mobile) {
      padding-top: 110px;
    justify-content: space-around;
    }
  } */

  &_scroll-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    @media (--desktop) {
      flex-direction: column;
      padding-top: 50px;
    }
  }

  &_top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    @media (--desktop) {
      padding: 30px 45px;
    }

    .logo {
      margin-right: 30px;
    }
  }

  &_close {
    // @extend %trans;

    position: relative;
    padding-right: 30px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    background: none;
    border: 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 8px;
      width: 3px;
      height: 28px;
      background-color: #fff;
      transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, -45deg);
    }

    &::after {
      transform: translate3d(0, -50%, 0) rotate3d(0, 0, 1, 45deg);
    }

    &:hover {
      @media (--desktop) {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  &_submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &_submit-text {
    @include c.font-size(22, 28);

    margin-bottom: c.em(30, 22);

    color: #fff;
    font-weight: 300;
    text-align: center;

    @media (--desktop) {
      font-size: 5rem;
    }
  }

  &_title {
    max-width: 710px;
    margin-bottom: 50px;
    color: #f6f6f6;
    font-size: 22px;
    line-height: 28px;
    text-align: center;

  }

  .btn {
    // @extend %trans-slow;
    // @extend %flex-center;

    position: relative;
    width: 100%;
    padding: 18px;
    background:
      linear-gradient(191.18deg,
      #7fb2ff -46.79%,
      #a660ff 151.97%);
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    z-index: 5;

    @media (--desktop) {
      max-width: 255px;
      padding: 18px 40px;
      font-size: 22px;
      line-height: 26px;

    }

    &::after {
      /* @apply --trans-slow; */

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        linear-gradient(191.18deg,
        #fff -46.79%,
        #fff 151.97%);
      border-radius: 5px;
      z-index: 10;
      opacity: 0;
      transition: all 600ms ease;
    }

    &:hover {
      @media (--desktop) {
        color: #a660ff;

        &::after {
          opacity: 1;
        }
      }
    }

    &--orange {
      background:
        linear-gradient(151.35deg,
        #de9b55 -8.73%,
        #ee5432 93.23%);

      &:hover {
        @media (--desktop) {
          color: #fff;
          box-shadow: 0 4px 4px rgba(222, 155, 85, 0.3);

          &::after {
            opacity: 0;
          }
        }
      }
    }
  }
}
