.how-step {
  position: relative;
  // display: flex;
  // align-items: center;
  color: #393939;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);

    @media (--desktop1200) {
      content: none;
    }
  }

  &:last-child {
    padding-bottom: 0;

    &::after {
      content: none;
    }
  }

  &.is-active {
    .how-step_index {
      color: #ef8b54;
    }

    .how-step_more {
      transform: translateY(-50%) rotate(-180deg);
    }

    .how-step_describe {
      padding-top: 25px;
    }
  }

  &.pl-10 {
    .how-step_icon {
      padding-left: 10px;
    }
  }

  &.pl-20 {
    .how-step_icon {
      padding-left: 20px;
    }
  }

  &_item {
    position: relative;
    display: flex;
    align-items: center;

    @media (--desktop1200) {
      flex-direction: column;
      justify-content: center;
    }

    &:hover {
      .how-step_index {
        @media (--desktop1200) {
          color: var(--orange);
          text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
        }
      }

      .how-step_icon {
        @media (--desktop1200) {
          background: #fff;
          border: 0.5px solid #dbdbdb;
          box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.18);
        }

        svg {
          fill: #1d1d1d;
        }
      }

      .how-step_text {
        .name {
          @media (--desktop1200) {
            display: none;
          }
        }

        .more {
          @media (--desktop1200) {
            display: inline;
          }
        }
      }
    }
  }

  &_index {
    position: absolute;
    left: 0;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;

    @media (--desktop1200) {
      @include trans-slow;

      top: -72px;
      left: 51%;
      color: rgba(255, 255, 255, 0.1);
      font-size: 118px * 0.85;
      line-height: 144px * 0.85;
    }

    @media (--desktop1400) {
      font-size: 118px;
      line-height: 144px;
    }
  }

  &_icon {
    display: none;

    @media (--desktop1200) {
      @include trans-slow;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 180px * 0.85;
      height: 180px * 0.85;
      margin-bottom: 20px;
      border-radius: 50%;
      background: #1d1d1d;
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);

      z-index: 10;
    }

    @media (--desktop1400) {
      width: 180px;
      height: 180px;
    }

    svg {
      @extend %trans-slow;

      fill: $orange;
    }
  }

  &_text {
    position: relative;
    width: 100%;
    padding-left: 53px;
    padding-right: 30px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;

    @media (--desktop1200) {
      max-width: 290px;
      padding-left: 0;
      padding-right: 0;
      color: #fff;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      text-align: center;
    }

    .more {
      @media (--desktop1200) {
        display: none;
        padding-right: 25px;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
        text-decoration: underline;
        background-image: url('./images/icon-more-plus.svg');
        background-repeat: no-repeat;
        background-position: center right;
        background-size: 20px;
      }
    }
  }

  &_more {
    @extend %trans-slow;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (--desktop1200) {
      display: none;
    }

    svg {
      width: 14px;
      fill: #000;
    }
  }

  &_describe {
    @extend %trans-slow;

    max-height: 0;
    // padding-top: 25px;
    padding-top: 0;
    font-size: 11px;
    line-height: 17px;
    opacity: 0.7;
    overflow: hidden;

    @media (--desktop1200) {
      display: none !important;
    }
  }
}

.modal-how-describe {
  @extend %trans-slow;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // overflow: visible;
  visibility: hidden;
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }

  &_wrap {
    position: relative;
    width: 694px;
    padding: 62px 52px !important;
    background-color: #262626;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
  }


  .icon-close {
    position: absolute;
    top: -52px;
    right: -52px;
    width: 44px;
    height: 44px;

    &::before,
    &::after {
      @extend %trans;

      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #c4c4c4;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {

      &::before,
      &::after {
        background-color: darken(#c4c4c4, 10%);
      }
    }
  }
}
